* {
    margin:0;
    padding: 0;

}
html { 
    background-color: rgb(118, 33, 118);
       margin: 0;
    padding: 0;
}
h1 { 
    
    color:  rgb(118, 33, 118);
    font-family: Poppins;
}

#main { 
    background-color: white;
    box-shadow: 10px;
    opacity: 80%;
    border-radius: 8px;
    display: flex;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 400px;
    justify-content: center;
    flex-direction: column;
   
  
}
#le {
    margin-top: 1%;
   margin-bottom: 20px;
   
}
#le h1 { 
    text-align: center;
}
#Explanation {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}
#Explanation > p { 
    width: 80%;
   
}
#InputText { 
    display: flex;
   align-content: center;
   align-items: flex-end;
   justify-content: center;
   height: 10%;
   width: 100%;
   margin-bottom: 10px;
}
#InputText input { 
    font-size: large;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: 1px black solid;

    
}
#CheckButton { 
    display: flex;
    width: 100%;
    margin-top: 20px;
   align-items: flex-start;
   justify-content: center;
}
#btn { 
    
    align-items: center;
    width: 50%;
    height: 35px;
    background-color:  rgb(118, 33, 118);
    border: 0px ;
    border-radius: 5px;
    color: white;
}
#answer { 
    margin-top: 20px;
    font-size: large; 
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media  (max-width: 700px) {
    #main {
        width: 80%;
    }
}