* {
    margin:0;
    padding: 0;
}
html { 
    color: black;
    background-color: rgb(30, 30, 30) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
h1 { 
    
    color: rgb(14, 13, 13);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#main { 
    opacity: 80%;
    border-radius: 8px;
    display: flex;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 400px;
    justify-content: center;
    flex-direction: column;
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    
  
}
#le {
    margin-top: 5%;
   margin-bottom: 80px;
   
}
#le h1 { 
    text-align: center;
}
#InputText { 
    display: flex;
   align-content: center;
   align-items: flex-end;
   justify-content: center;
   height: 10%;
   width: 100%;
   margin-bottom: 10px;
}
#InputText input { 
    font-size: large;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-color: black;
    
}
#CheckButton { 
    display: flex;
    width: 100%;
    margin-top: 20px;
   align-items: flex-start;
   justify-content: center;
}
#btn { 
    
    align-items: center;
    width: 70px;
    height: 35px;
    background-color: black;
    border-color: black;
    border-radius: 5px;
    color: whitesmoke;
}
#answer { 
    margin-top: 20px;
    font-size: large;
    color: whitesmoke;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media  (max-width: 700px) {
    #main {
        width: 80%;
    }
}